<ion-header>
  <ion-toolbar class="navbar">
    <!-- Logo a la izquierda -->
    <ion-buttons slot="start" class="navbar-start">
      <ion-button>
        <ion-icon src="assets/icon/favicon.png" class="navbar-logo"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="navbar-title">GalileoNews</ion-title>

    <!-- Botón de modo oscuro/claro a la derecha -->
    <ion-buttons slot="end" class="navbar-end">
      <ion-button (click)="toggleTheme()" aria-label="Toggle theme">
        <ion-icon [name]="isDarkTheme ? 'sunny-outline' : 'moon-outline'" class="navbar-theme-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
