.navbar {
  --background: transparent;
  --border-color: rgba(255, 255, 255, 0.1);
  --icon-color: white;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid var(--border-color);

  /* Ocultar en pantallas móviles */
  display: none;

  /* Mostrar solo en pantallas de escritorio */
  @media (min-width: 768px) {
    display: flex;
  }
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--icon-color);
  text-align: center;
}

.navbar-start,
.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 32px;
  height: 32px;
}

.navbar-theme-icon {
  font-size: 1.8rem;
  color: var(--icon-color);
}

ion-button {
  --background: transparent;
  --color: var(--icon-color);
}