<ion-header>
  <ion-toolbar class="navbar d-flex align-items-center justify-content-between">
    <!-- Logo a la izquierda -->
    <ion-buttons slot="start" class="d-flex align-items-center mt-1">
      <ion-button>
        <img src="assets/icon/favicon.png" alt="Logo" style="width: 40px; height: 40px;">
      </ion-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="navbar-title text-center mt-1">GalileoNews</ion-title>

    <!-- Botón de modo oscuro/claro a la derecha -->
    <ion-buttons slot="end" class="d-flex align-items-center mt-1">
      <ion-button (click)="toggleTheme()">
        <i [class]="isDarkTheme ? 'bi bi-sun-fill' : 'bi bi-moon-fill'"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
