div.inicio-container {
  display: flex;
  width: 100%;
  min-height: 90%;
}

.inicio-noticias {
  position: relative;
  display: flex;
  width: 4rem;
  flex-grow: 1;
  flex-direction: column;
  padding: 2rem 4rem;
  max-height: 95vh;
  overflow: auto;
}

.inicio-noticias ion-fab {
  bottom: 90%;
  left: 100%;
  position: sticky;
}

.inicio-md-contactos {
  position: relative;
  display: flex;
  width: 4rem;
  flex-grow: 1;
  flex-direction: column;
  padding: 2rem 4rem;
  max-height: 82vh;
  overflow: auto;
}

.inicio-md-contactoss ion-fab {
  bottom: 90%;
  left: 100%;
  position: sticky;
}

.notice-card {
  display: flex;
  padding: 1rem;
  color: black;
  height: 100%;
  overflow: visible;
}

.notice-image {
  display: flex;
  width: 30%;
  max-width: 30%;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.notice-content {
  display: flex;
  width: 4rem;
  flex-grow: 1;
  flex-direction: column;
}

.notice-content__detalle {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notice-content__topbar {
  display: flex;
  width: 100%;
  font-weight: bold;
  align-items: center;
}

.topbar__date {
  color: rgb(102, 102, 102);  
}

.list-md {
  background: transparent;
}

ion-item.item {
  --ion-item-background: transparent;
}

ion-item.item a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-content__topbar .topbar__icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.notice-content__actions {
  display: flex;
  width: 100%;
}

.enlaces-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: black;
  height: 100%;
  overflow: visible;
}

.contactos-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  color: black;
  height: 100%;
  overflow: visible;
}

.card-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.card-header .card-header__title {
  width: 4rem;
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
}

.card-header .card-header__actions ion-button {
  --padding-top: 1px;
  --padding-bottom: 1px;
  min-height: unset;
}

.footer-buttons {
  display: none;
  width: 100%;
  justify-content: center;
  background-color: rgb(249, 249, 249);
}

.footer-buttons ion-button {
  --color: rgb(89, 89, 89);
  --padding-top: 8px;
  --padding-bottom: 8px;
  width: 50%;
}

.footer-buttons  ion-button.tab-active {
  color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
  border: solid 3px var(--ion-color-primary);
  border-width: 0 0 3px 0;
  --border-width: 0 0 3px 0;
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 1100px) {
  .inicio-noticias {
    padding: 1rem;
  }

  .inicio-md-contactos {
    padding: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  .inicio-noticias {
    display: none;
  }

  .inicio-noticias.tab-visible {
    display: flex;
  }

  .inicio-noticias ion-fab {
    bottom: 6rem;
    left: 105%;
  }

  .inicio-md-contactos {
    display: none;
  }

  .inicio-md-contactos.tab-visible {
    display: flex;
  }
  
  .footer-buttons {
    display: flex;
  }

  .inicio-noticias {
    padding: 2rem;
  }

  .inicio-md-contactos {
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .inicio-noticias {
    padding: 0.5rem;
  }

  .inicio-md-contactos {
    padding: 0.5rem;
  }
}
