/* Ionic Variables and Theming
 * ---------------------------------------------------------------
 * Any overrides to theme variables should be placed in this file.
 * For more information, please see:
 * http://ionicframework.com/docs/theming/
 */

/* This sets a different item border color for the default theme on ios and md */
:root {
  --ion-item-border-color: var(--ion-background-color-step-200);
}

/* This sets a different background and item background for the default theme on ios */
:root.ios {
  --ion-background-color: var(--ion-background-color-step-50, #f2f2f6);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different background and item background for the default theme on md */
:root.md {
  --ion-background-color: var(--ion-background-color-step-100, #f9f9f9);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different item background when dark mode is enabled on ios and md */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: #1c1c1d;
}

input::placeholder {
  color: #888;
  font-size: 0.9em;
  font-style: italic;
}

input:focus::placeholder {
  color: #ccc;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  color: #333;
  transition: all 0.3s ease;
}

input:focus {
  background: #fff;
  border-color: var(--main-galileo-color);
  outline: none;
  color: #000;
}

/* Modo oscuro */
.ion-palette-dark input {
  background: #333;
  color: #fff;
  border: 1px solid #555;
}

.ion-palette-dark input:focus {
  background: #444;
  border-color: var(--link-galileo-color);
}

.ion-palette-dark input::placeholder {
  color: #aaa;
}
