/* Ionic Variables and Theming
 * ---------------------------------------------------------------
 * Any overrides to theme variables should be placed in this file.
 * For more information, please see:
 * http://ionicframework.com/docs/theming/
 */

/* This sets a different item border color for the default theme on ios and md */
:root {
  --ion-item-border-color: var(--ion-background-color-step-200);
  /* Colores principales */
  --main-galileo-color: rgb(184, 154, 89);
  --main-galileo-color-focus: rgb(202, 166, 89);
  --link-galileo-color: rgb(180, 95, 8);
  --link-galileo-color-focus: rgb(153, 83, 14);

  /* Colores base */
  --background-color-light: #f9f9f9;
  --background-color-dark: #1e1e1e;
  --text-color-light: #333;
  --text-color-dark: #fff;

  /* Colores de bordes */
  --border-color-light: #ccc;
  --border-color-dark: #555;

  /* Colores de ítems */
  --item-background-light: #fff;
  --item-background-dark: #1c1c1d;

  /* Fuentes */
  --font-family-main: "Poppins", Helvetica, sans-serif;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;

  /* Sombreados */
  --box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 4px 6px rgba(255, 255, 255, 0.1);

  /* Espaciado */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
}

/* This sets a different background and item background for the default theme on ios */
:root.ios {
  --ion-background-color: var(--ion-background-color-step-50, #f2f2f6);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different background and item background for the default theme on md */
:root.md {
  --ion-background-color: var(--ion-background-color-step-100, #f9f9f9);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different item background when dark mode is enabled on ios and md */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: #1c1c1d;
}
