<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/icon/logo_G.png" alt="Logo" class="img-fluid">
        <h2>Galileo News</h2>
      </div>

      <!-- Register Form -->
      <form #form="ngForm" class="registration-form" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
          <label for="username" class="form-label">Nombre de Usuario</label>
          <input type="text" class="form-control" id="username" placeholder="Ingresa tu nombre de usuario"
            maxlength="15" (keypress)="onKeyPress($event)" [(ngModel)]="username" name="username" required>
        </div>

        <div class="form-group">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo" [(ngModel)]="email" name="email" required>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="Crea una contraseña" minlength="8"
            [(ngModel)]="password" name="password" required>
        </div>

        <div class="form-group">
          <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
          <input type="password" class="form-control" id="confirm-password" placeholder="Repite tu contraseña"
            minlength="8" (keypress)="onKeyPressPass($event)" [(ngModel)]="confirm_password" name="confirm_password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Registrarse</button>
      </form>

      <!-- Alternative Access -->
      <div class="alternative-access">
        <p>O regístrate con</p>
        <button class="btn btn-outline-primary w-100">
          <i class="bi bi-google"></i> Registrarse con Google
        </button>
        <div class="links-container">
          <a href="#" class="text-primary">Soporte</a>
          <a href="/home" class="text-primary">¿Ya tienes una cuenta? Inicia sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>