<app-base-component>
  <div class="container-fluid">
    <div class="card shadow">
      <div class="card-body">
        <!-- Logo -->
        <div class="logo-container text-center mb-4">
          <img
            src="assets/icon/logo_G.png"
            alt="Logo"
            class="mb-3"
            style="width: 60px; height: 60px"
          />
          <h2>Galileo News</h2>
        </div>

        <!-- Login Form -->
        <form>
          <!-- Correo Electrónico -->
          <div class="form-group">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu correo"
              required
            />
          </div>

          <!-- Contraseña -->
          <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Ingresa tu contraseña"
              required
            />
          </div>

          <!-- Recordar contraseña -->
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">
              Recordar mi contraseña en esta computadora
            </label>
          </div>

          <!-- Botón Iniciar Sesión -->
          <button type="submit" class="btn btn-login w-100">Entrar</button>
        </form>

        <!-- Divider -->
        <div class="divider mt-4 mb-4">
          <hr />
          <span>O</span>
          <hr />
        </div>

        <!-- Acceso con Google -->
        <button class="btn btn-google w-100">
          <i class="bi bi-google me-2"></i> Acceder con Google
        </button>

        <!-- Links secundarios -->
        <div class="alternative-access mt-3">
          <a href="#" class="text-primary">Soporte</a>
          <a href="/register" class="text-primary">No tienes una cuenta?</a>
        </div>
      </div>
    </div>
  </div>
</app-base-component>
