<app-base-component>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="logo-container">
          <ion-img src="assets/icon/logo_G.png" alt="Logo"></ion-img>
          <h2>Galileo News</h2>
        </div>

        <!-- Login Form -->
        <form>
          <!-- Correo Electrónico -->
          <div class="form-group">
            <ion-item>
              <ion-label position="stacked">Correo Electrónico</ion-label>
              <ion-input
                type="email"
                placeholder="Ingresa tu correo"
                required
              ></ion-input>
            </ion-item>
          </div>

          <!-- Contraseña -->
          <div class="form-group">
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input
                type="password"
                placeholder="Ingresa tu contraseña"
                required
              ></ion-input>
            </ion-item>
          </div>

          <!-- Recordar contraseña -->
          <ion-item lines="none">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Recordar mi contraseña en esta computadora</ion-label>
          </ion-item>

          <!-- Botón Iniciar Sesión -->
          <ion-button expand="block" class="btn-login" type="submit">
            Entrar
          </ion-button>
        </form>

        <!-- Divider -->
        <div class="divider">
          <hr />
          <span>O</span>
          <hr />
        </div>

        <!-- Acceso con Google -->
        <ion-button expand="block" color="primary" class="btn-google">
          <i class="bi bi-google" slot="start"></i> Acceder con Google
        </ion-button>

        <!-- Links secundarios -->
        <div class="alternative-access">
          <a href="#" class="text-primary">Soporte</a>
          <a href="/register" class="text-primary">No tienes una cuenta?</a>
        </div>
      </div>
    </div>
  </div>
</app-base-component>
